body {
	background-color: #DED8D2;
	background-size: cover;
	box-sizing: border-box;
}
h1 {
	color: #EA8D42;
}
h2 {
	color: #EA8D42;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*Section 1*/

.section1 {
		border-right: 5px solid #393939;
		height: 100vh;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
}
.title-box {
	width: 300px;;
	display: flex;
	flex-direction: row;
	justify-content: center;
	}

.counter {
	color: #D9472E;
	position: absolute;
	left: 70%;
	bottom: 85%;
	font-size: 5em;
	margin-bottom: 0px;
}
.intro {
	color: #D79C35;
}
input {
	border-radius: 5px;
}
button {
	border-radius: 10px;
	width: 100px;
}
.try-button {
	background-color: #D79C35;
	color: #8F582F;
	border-color: #8F582F;
}
.save-button {
	background-color: #D79C35;
	color: #8F582F;
	border-color: #8F582F;
}

.score-box {
	height: 100vh;
}
.scores {
	list-style: none;

}
.game-box {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.number-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}
.hidden {
	display: none;
}

.result {
	color: #8F582F;
	width: 60%;
	border: 1px solid #8F582F;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}
.img {
	background-image: url(../images/simpson.png);
	background-size: cover;
	width: 400px;
	height: 300px;
	position: absolute;
	bottom: 10px;
	right: 45%;
}
.img-ok {
	background-image: url(../images/homer_simpsonwoohooo.gif);
	width: 200px;
	height: 155px;
}

/*Section 2*/

/*Mediaquerys*/
@media all and (max-width:900px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.section1 {
			border-right: none;
			border-bottom: 5px solid #393939;
			width: 100vh;
			height: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
	}
	.result {
		margin-bottom: 20px;
	}

	.counter {
		color: #D9472E;
		position: absolute;
		left: 85%;
		top: -10%;
		font-size: 5em;
		margin-bottom: 0px;
	}
.img {
	display: none;
}
}
