.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.section1 {
		border-right: 5px solid black;
		height: 100vh;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
}

.score-box {
	height: 100vh;
}
.game-box {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
.number-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}
