body {
	background-color: grey;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*Section 1*/
.section1 {
		border-right: 5px solid black;
		height: 100vh;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
}

.score-box {
	height: 100vh;
}
.game-box {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.number-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}
.save-box {
	display: none;
}

.result {
	color: blue;
	width: 80%;
	border: 1px solid blue;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}
/*Section 2*/
